@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    outline: none;

}

input:hover, button:hover, select:hover {
    transition: 0.3s;
}

html {
    font-size: 15px;
    font-smoothing: antialiased;
}

body {
    font-size: 0.95rem;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Nanum Gothic"!important;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: "Nanum Gothic"!important;
}

code, kbd, pre, samp, button, input, optgroup, selete, testarea, .popover, .tooltip, .h1, .h2, .h3, .h4, .h5,  .h6,.carousel-control, .carousel-control .icon-next, .button.button-desc, .button.button-desc span, a.share:after, #swipebox-top-bar, #Announce {
    font-family: "Nanum Gothic"!important;
}
.ws-container, .ws-title, .ws-sites, .ws-sites th, .ws-sites th, .ws-sites td, .ws-license, .ws-g, .ws-n, .ws-n-error, .ws-help, .ws-help li{
    font-family: "Nanum Gothic"!important;
}

body {
	margin: 0px;
	font-size: 4px;
}
a {
	color: #009688;
}
.ws-container {
	width: 600px;
	max-width: 00%;
	margin: 0 auto;
}
.ws-title {
	text-align: center;
}
.ws-sites {
	border-collapse: collapse;
	width: 00%;
}
.ws-sites th {
	background-color: #f4f4f4;
}
.ws-sites th, .ws-sites td {
	border: px solid #ccc;
	padding: 8px;
}
.ws-license {
	color: #666;
	font-size: 0.85em;
}
.ws-g {
	margin-right: 4px;
}
.ws-n {
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
	margin-bottom: 4px;
	display: block;
}
.ws-n-error {
	color: red;
}
.ws-help {
	color: #444;
	list-style: square;
	margin: 6px;
	padding: 0;
	font-size: 0.9em;
}
.ws-help li {
	margin-bottom: 8px;
}
